*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --clr-red-01: rgb(239, 72, 111);
  --clr-yellow-01: rgb(245, 171, 0);
  --clr-blue-01: rgb(16, 137, 177);
  --clr-grey-01: rgb(245, 245, 245);
  --clr-green-01: rgb(5, 214, 158);
  --clr-white-01: rgb(255, 255, 255);
}

html {
  font-family: sans-serif;
  text-align: center;
}

.todo--status {
  text-decoration: line-through;
}

#todo-list {
  list-style-type: none;
}

/********************************************************************/
/* TEMPLATES */

.flex-c-c-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-r-c-c {
  display: flex;
  _flex-direction: row;
  justify-content: center;
  align-items: center;
}
